body {
    overflow-x: scroll;
    font-family: 'Rajdhani', sans-serif!important;
    background-color: #222;
    font-weight:400!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Droid Sans', Arial, sans-serif;
    font-weight: 700;
}

p {
    margin: 0!important;
}

/* Section */
section {
    padding: 100px 0;
    width: 100%;
}

.fullscreen {
    width: 100%!important;
    height: 100%!important;
    margin: 0!important;
    padding: 0!important;
}

/* name section */
#names {
    /* background-color: rgba(8, 29, 221, .25); */
    background-color: #1f1f1f;
    color: #FFF;
    position: relative;
    height: 100vh;
    clip-path: inset(0 50% 0 0);
    -webkit-clip-path: inset(0 50% 0 0);
}

/*images section */
#images-detail,
#images {
    /*  background-color: rgba(221, 8, 8, .25); */
    background-color: #FFF;
    color: #1f1f1f;
    height: 100vh;
    top: 0px;
    position: absolute;
    clip-path: inset(0 0 0 50%);
    -webkit-clip-path: inset(0 0 0 50%);
}
#names-detail,
#names0 {
    /* background-color: rgba(8, 29, 221, .25); */
    background-color: #1f1f1f;
    color: #FFF;
    position: relative;
    height: 100vh;
    clip-path: inset(0 0% 0 0);
    -webkit-clip-path: inset(0 0% 0 0);
}

/*images section */
#images100 {
    /*  background-color: rgba(221, 8, 8, .25); */
    background-color: #FFF;
    color: #1f1f1f;
    height: 100vh;
    top: 0px;
    position: absolute;
    clip-path: inset(0 0 0 100%);
    -webkit-clip-path: inset(0 0 0 100%);
}

/* Content type */
.content-type {
    min-height: 160px;
    max-height: 160px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}

.content-name {
    border: 2px solid #2C2C2C;
    padding: 40px 20px;
    font-size: 2em;
    font-weight: 200;
    /*    font-family: 'Droid Sans', Arial, sans-serif;  */
}

.content-image {
    background-color: #AAA;
    overflow: hidden;
    /* border: 1px solid #FF0000; */
}

.section-heading {
    visibility: hidden;
}

.title-names {
    /* background: white; */
    /* color: #FFFFFF; */
}

.title-images {
    /* background: #000000; */
    /* color: #000000; */
}

.menu-link {
    position: absolute;
    height: 50px;
    width: 75px;
    top: 25px;
    left: 25px;
    background-color: rgba(255, 0, 0, 0);
}

#first {
    position: absolute;

}
#second
{
    position: relative;

}

#images-detail{
    position: relative;
}

.unterunterseite-link{
    position: absolute;
    height: 50px;
    width: 75px;
    bottom: 0px;
    left: 48%;
    background-color: rgba(0, 255, 255, 0);
}

.unterseite-link{
    position: absolute;
    height: 50px;
    width: 75px;
    top: 0px;
    left: 4%;
    background-color: rgba(255, 0, 255, 0);
}


.draggie {
    background: rgba(255, 255, 255, 0);
    /* border-radius: 15px; */
    /* border: solid #000 1px; */
    z-index: 999;
    position: absolute;
    top: 0!important;
    /* transform: rotate(45deg); */
}

.draggie-horizontal {
    width: 30px;
    height: 100%;
}

.draggie-vertical {
    width: 100%;
    height: 30px;
}

div#draggable {}

.draggie:hover,
.draggie:active {
    cursor: col-resize;
    background: rgba(255, 255, 255, 0.1);
}
